# Боттун токени (@BotFather'дан)
BOT_TOKEN=

# PostgreSQL байланышы
# Локалда: localhost, Docker ичинде: postgres
DATABASE_URL=postgres://molniy:molniy_pass@localhost:5432/molniy_bot

# 1xBet/Melbet кассир API (CashdeskBotAPI)
CASHDESK_ID=1471068
CASHDESK_HASH=fa8d3b8fe2e413ce067379ea545643059a4a11e48ec9a88fb6d5708ea28f72f6
CASHDESK_PASS=LPFCZ69K
CASHDESK_LOGIN=aiipuuMi
